header .socialmedia a{
  left: 50%;
  opacity: 0.3;
}
section#service>div>div{
  transform: translateY(250px);
  opacity: 0.3;
}
section#about>div>div{
  transform: translateY(-250px);
  opacity: 0.0;
}
section#product .scroll{
  transform: translateY(-250px);
  opacity: 0.0;
}
section#product .col-1, 
section#product .col-2{
  transform: translateY(150px);
  opacity: 0.0;
}
section#locate>div>div{
  transform: translateY(-250px);
  opacity: 0.3;
}
footer .follow{
  transform: translateX(-150px);
  opacity: 0.0;
}
footer .copyright{
  transform: translateX(150px);
  opacity: 0.0;
}
/*ANIMATE
-------------------------------------------------*/
header .socialmedia.active a{
  left: calc(100% - 75px);
  opacity: 1;
}
section#service .active>div{
  transform: translateY(0px);
  opacity: 1;
}
section#about .active>div{
  transform: translateY(0px);
  opacity: 1;
}
section#product .active .scroll{
  transform: translateY(0px);
  opacity: 1;
}
section#product .active .col-1, 
section#product .active .col-2{
  transform: translateY(0px);
  opacity: 1;
}
section#locate .active>div{
  transform: translateY(0px);
  opacity: 1;
}
footer .active .follow{
  transform: translateX(0px);
  opacity: 1;
}
footer .active .copyright{
  transform: translateX(0px);
  opacity: 1;
}
